.offset {
    .card-body {
        position: relative;
        padding: 4rem;
        margin-top: -6rem;
    }
}

.card {
    border: none;
    text-decoration: none;
    height: 100%;
    &:not(.article, .bg-card) {
        border-top: 4px solid;
    }

    &.bg-card {
        color: var(--white);
        &.primary {
            background-color: var(--primary);
        }
        &.secondary {
            background-color: var(--secondary);
        }
        &.tertiary {
            background-color: var(--tertiary);
        }
        &.purple {
            background-color: var(--purple);
        }
        &.green {
            background-color: var(--green);
        }
    }

    &.primary {
        border-top-color: var(--primary);

        h4, h3, .icon-holder {
            color: var(--primary); 
        }
    }

    &.secondary {
        border-top-color: var(--secondary);

        h4, h3, .icon-holder {
            color: var(--secondary); 
        }
    }

    &.tertiary {
        border-top-color: var(--tertiary);

        h4, h3, .icon-holder {
            color: var(--tertiary); 
        }
    }

    &.purple {
        border-top-color: var(--purple);

        h4, h3, .icon-holder {
            color: var(--purple); 
        }
    }
    &.green {
        border-top-color: var(--green);

        h4, h3, .icon-holder {
            color: var(--green);
        }
    }
    
    .card-title {
        padding-top: 1rem;
    }

    .card-body {
        .icon-holder {
            i {
                font-size: 2rem;
            }
        }
    }
}
