@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import "../scss/variables.scss";

@import "./typograph.scss";
@import "./nav.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./form.scss"; 
@import "./card.scss";
@import "./post.scss";


.content-image-offset {
   display: flex;
   align-items: center;

    .content {
        position: relative;
        max-width: 55%;
        background-color: var(--white);
        padding: 3rem 2rem;
        border-radius: 8px;
        margin-right: -8rem;

        .tag-primary {
            background-color: var(--primary)
        }
    }

    .img-holder {
        width: 100%;;
    }
}